<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
  
    <%- include('partials/head')
%>
</head>
<body>
        <%- include('partials/navigation')
%>
    <main class="vh-100 container pt-5 text-center justify-content-center align-items-center">
        <section>
            <h1 class="display">About</h1>
            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad laborum sed quaerat ab. Aperiam, beatae accusamus recusandae corrupti eveniet mollitia, unde minima perferendis ea quam blanditiis eum dolorem voluptates sint assumenda natus non sit nobis? Molestiae vitae maiores sapiente aspernatur cupiditate soluta officia dolore voluptas recusandae aliquid! Eum alias fugit, iste optio cum perspiciatis molestiae laborum deleniti neque at porro eaque impedit tenetur omnis libero amet saepe aut. Officia consectetur illum est nihil consequatur et officiis voluptatibus distinctio quae animi dicta, assumenda qui magnam facilis unde! Nulla mollitia at perferendis quibusdam distinctio aliquam quod accusantium. Officiis, natus perspiciatis? Voluptatum molestiae voluptatibus tempora vero. Ratione eaque quae eveniet quod odio quia. Magnam sequi tenetur quod libero expedita perferendis provident nesciunt, maxime similique modi beatae ab, commodi debitis consectetur quidem aliquam! Temporibus rem voluptates in qui veniam aliquid eum fugit voluptas dolorem quos deleniti, itaque, enim facilis vero asperiores cumque expedita et sed. Corrupti reprehenderit dolores ullam, distinctio ea, debitis accusamus dolore id ratione temporibus expedita! Explicabo, ea culpa in iste aliquid est beatae magnam mollitia assumenda incidunt ex rerum porro. Deserunt ut voluptatibus corrupti nam, sint, quae veniam harum facere libero nisi corporis! Similique tempore soluta eius perspiciatis architecto blanditiis commodi.</p>
        </section>
    </main>

      <%- include('partials/footer')
%>
</body>
</html>